{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ item.title }}</title>
</head>
<body>
<td>
<br>
<center><h1>{{ item.title }}</h1></center>
<br>
    <p style="text-align: center;">
    {{ item.text|linebreaksbr }}</p>
</body>
</html>
<hr>
<i><p style="text-align: right">
    created by <b>{{ item.author }}</b><br>
    {{ item.date }}<br>
tags: {% if item.tags %}{{ item.tags }} {% else %} none {% endif %}<br>
    categories: {% if item.categories %} {{ item.categories }} {% else %} other {% endif %}
</p></i>
</td>
{% endblock %}