{% extends "base.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All articles</title>
</head>
<body>
<td>
<br>
{% for item in news %}
    <div class="jumbotron">
        <h1 class="display-4" style="font-family: 'Noto Sans', sans-serif; color: #333333">
            <a href="/articles/{{ item.id }}" style="color: #333333">{{ item.title }}</a></h1><i>{{ item.date }}
    // {{ item.language }} // from {{ item.author }} </i>
        <hr class="my-4">
        <text style="font-family: 'Noto Sans', sans-serif"> {{ item.text|linebreaksbr|truncatewords:"30" }} </text>
        <br><br>
        <a class="btn btn-primary btn-lg" href="/articles/{{ item.id }}" role="button">Read</a>
    </div>
    {% endfor %}
</p></i>
</td>
{% endblock %}