<!DOCTYPE html>
<html lang="en" style="min-height: 100%;">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
</head>
<body style='background: linear-gradient(rgba(100, 100, 105, 1), rgba(190, 190, 190, 1)); height: 100%'>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">здесьмоглабыбытьвашареклама</a>
    <a href="/articles/"><button type="button" class="btn btn-light btn-sm"><b>Articles</b></button></a> //
    <a href="/books/"><button type="button" class="btn btn-light btn-sm"><b>Books and guides</b></button></a> //
    <a href="/map/"><button type="button" class="btn btn-light btn-sm"><b>Find all articles for language</b></button></a> //
    <a href="/theory/"><button type="button" class="btn btn-light btn-sm"><b>Chatroom</b></button></a> //
</nav>
<center><table style="background: rgba(255, 255, 255, 0.9); border-radius: 8px;" width='50%' height=100 cellpadding=15>
<tr style="font-family: 'Noto Sans' color: #220077">

{% block content %}
{% endblock %} </td></tr> <br>
</table>
</body>
<br>
<br>
</html>