<!DOCTYPE html>
<html lang="en" style="min-height: 100%;">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
</head>
<body style='background: linear-gradient(rgba(105, 100, 100, 1), rgba(200, 190, 190, 1)); height: 100%'>
<br><center><table style="background: rgba(255, 255, 255, 0.9); border-radius: 8px;" width='50%' height=100 cellpadding=15>
<tr font color='220077' style="font-family: 'Noto Sans'">
{% block content %}
{% endblock %} </td></tr> <br>
</table>
</body>
<br>
<br>
</html>