{% extends "base.html" %}
{% block content %}
<body background='pictures/bg.jpg' bgcolor='777788'>
<center>
<tr font color='220077'>
    <div class="container">
        <td style="padding: 10px;">
            <center><b><h1>Click on the origin region of your language</h1></b>
            If you want to choose from a list of language groups, you can click <a href="/list/?criteria=all">here</a></a></center>
    {% load static %}
    <img src="{% static 'worldmap.png' %}" style='transform: scale(0.9); top: 50%; left: 0; right: 0; margin-top: -2%;' usemap='#worldmap' alt="Click here">
        <map name='worldmap'>
            <area shape='rect' coords='0, 0, 433, 754' href="/articles/?criteria=american"
            alt="Языки стран и народов Америки">
            <area shape='circle' coords='630, 485, 150' href='/articles/?criteria=african'
            alt="Языки стран и народов Африки">
            <area shape='circle' coords='1050, 600, 175' href='/articles/?criteria=australian'
            alt="Языки стран и народов Австралии и Океании">
            <area shape='poly' coords='760, 300, 1070, 220, 1100, 320, 950, 450, 870, 450' href='/articles/?criteria=asian' alt="Азиатские языки">
            <area shape='poly' coords='560, 310, 560, 340, 680, 340, 700, 300, 760, 300, 800, 220, 700, 170, 650, 150, 0' href='/list/?criteria=european' alt="Европейские языки">
            <area shape='circle' coords='750, 390, 50' href='/articles/?criteria=arabic' alt="Языки Ближнего востока">
            <area shape='rect' coords='700, 50, 1150, 300' href='/articles/?criteria=russian' alt="Русский язык">
        </map>
        </div>
</td></tr>
{% endblock %}